.parent-container{
    min-height: 100%;
    /* background-color: azure; */
    position: relative;
    overflow: hidden;
    background-image: url(C:/Users/admin/Desktop/HTML/nature.image2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: scroll;
    overflow-x: hidden;
}

.dropdown {
    background-color: rgb(252, 7, 232);
    overflow: hidden;
}
.dropdown a{
    font-size: 20px;
    padding: 5px 5px;
    text-decoration: none;
    float: left;
}

.dropdown-container{
    overflow: hidden;
    float: left;
}
.dropbtn{
    background-color: green;
    padding: 5px 5px;
    border: none;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 4px;
    font-size: 11px;
}
.dropdown-content{
    position: absolute;
    min-width: 100px;
    background-color: aquamarine;
    display: none;
    z-index: 1;
    text-align: center;
    top: 30px;
}

.dropdown-content a{
    text-decoration: none;
    display: block;
    padding: 5px 5px;
    float:none
}

.dropdown-container:hover .dropdown-content{
    display: block;
    z-index: 1;
}
.dropbtn:hover{
    opacity: 0.5;
}
.dropdown-content a:hover{
    background-color: orange!important;
}
.dropdown a:hover{
    background-color: cornflowerblue;
}
.link-3-container{
    overflow: hidden;
}

.dropdown-link3-content{
    position: absolute;
    min-width: 100px;
    background-color: aquamarine;
    display: none;
    top: 75px;
    left: 100px;
    text-align: center;
}

.link-3-container:hover .dropdown-link3-content{
    display: block;
}

.footer{
    border: 2px solid black;
    position: fixed;
    border: 1px solid black;
    bottom: 0px;
    width: 1350px;
    background-color: brown;
}
.form-container{
    border: 1px solid paleturquoise;
    background-color: rgb(220, 131, 14);
    width: 221px;
    text-align: center;
    margin: auto;
    position:relative;
    top:30px;
}

.sbt-btn{
    position: relative;
    top: 7px;
    background-color: orangered;
    border-radius: 20px;
    padding: 4px 12px;
    font-size: 15px;
    border: none;
}

.input-box{
    background-color: coral;
}

.txt-container{
    color:white;

}