

img{
    opacity: 0.5;
}

img:hover{
    opacity:1;
}

.verticle-line{
    border-left: 4px solid blueviolet;
    height:500px;
    position:absolute;
    left:520px;
    top: 0px;
}

.list li{
    display: inline-block;
    list-style-type: disc;
}

/* table{ 
    border:1px solid black;
}
td{
    border:1px solid black;
}*/

/* grouping of element */
table,td{
    border:1px solid black;
    background-color:aquamarine ;
    border-collapse: collapse;
}

.table-container{
    font-size: 20px;
    height:300px;
    width:300px;
    text-align: center;
    margin:auto ;
}
td{
    background-color: rgb(241, 11, 134);
}
th{
    background-color: rgb(12, 254, 69);
}

/* .listHorizontal  
{
    color: rgb(208, 230, 8);

    text-transform: capitalize;
    list-style: disc;
}*/

.li{
    display: inline-block;
    padding:5px 5px
    /*  list style type: disc */
}

/* ul li { 
    float:left;
    margin-left: 30px;
    list-style: circle;
    list-style-type: circle;
}*/
ul li :before{
    content: "\2022";
}

.main{
    background-image: url("C:/Users/admin/Desktop/HTML/nature.image2.jpg");
    background-repeat: no-repeat;
    width: 900px;
    height: 900px;
}

.main:hover{
    opacity:0.5;
}