<div class="form-container">
    <form [formGroup]="signUpForm">

        <mat-form-field class="form-fields">
            <mat-label> Full Name</mat-label>
            <input type="text" matInput formControlName="fullName">
        </mat-form-field>

         <br>
        <mat-form-field class="form-fields">
            <mat-label> Mobile Number</mat-label>
            <input type="text" matInput formControlName="mob">
        </mat-form-field>

            <br>
            <mat-form-field class="form-fields">
                <mat-label> Pancard</mat-label>
                <input type="text" matInput formControlName="pan">
            </mat-form-field>

           <br>
            <mat-form-field class="form-fields">
                <mat-label> Password</mat-label>
                <input type="text" matInput formControlName="pass">
            </mat-form-field>
             
            <br>
                <mat-label>Gender</mat-label>
                <mat-radio-group formControlName="gender">
                    <mat-radio-button>Male</mat-radio-button>
                    <mat-radio-button>Female</mat-radio-button>
                </mat-radio-group>
             
           <br>
            <mat-form-field class="form-fields">
                <mat-label> Confirm Password</mat-label>
                <input type="text" matInput formControlName="cfnpass">
            </mat-form-field>

         <br>
    <button mat-button color="accent" class="btn">Submit</button>
 
    </form>
</div>
