<p>databinding works!</p>
<div>Welcome to data binding</div>
<p>{{a}}</p>

<div>{{city}}</div>
{{city}}
<br>
<input type="text" value="gadakh">
<br>
<input type="text" [value]="myName" (keyup)="inputBoxValue($event)">
<br>{{myName}}
<br>
<input type="text" value="{{myName}}">
<br>
<input type="text" [disabled]="isDisable"><br>
<input type="text" disabled="{{isDisable}}"><br>

<button (click)="submit()">Submit</button>

<div>{{fruit}}</div>
<br>

<input type="text"[(ngModel)]="favFruit">Enter your fav Fruit
<br>

{{favFruit}}
