<p>directive works!</p>

<div class="div-container" *ngIf="showDiv"></div>
<br>
<button (click)="toggle()">Toggle</button>

<ul>
    <li>COfee</li>
    <li>Tea</li>
    <li>Milk</li>
    <li>COfee</li>
    <li>Tea</li>
    <li>Milk</li>
    <li>COfee</li>
    <li>Tea</li>
    <li>Milk</li>
</ul>

<ul>
    <li>{{listItem}}</li>
</ul>

<ul>
    <li *ngFor="let data of listItem">{{data}}</li>
</ul>

<div>
    <p *ngIf="color === 'pink' ">i like pink</p>
</div>

<div [ngSwitch]="true">
    <p *ngSwitchCase="color ==='pink'">i like {{color}}</p>
    <p *ngSwitchCase="color ==='yellow'">i like {{color}}</p>
    <p *ngSwitchCase="color ==='black'">i like {{color}}</p>
    <p *ngSwitchCase="color ==='purple'">i like {{color}}</p>
    <p *ngSwitchDefault>i don't like color</p>
</div>

<div style="color:aqua; font-size: 30px;">i like mumbai</div>

<div [ngStyle]="{backgroundColor: getColor()}">i like yellow</div>

<div class="div-container1">I like India</div>
<br>
<div [class.div-container2]="journey =='admin'"
     [class.div-container1]="journey =='owner'"
     [class.div-container]="journey =='user'">I like India</div>

<br><br><br><br><br><br><br>